/* Основные параметры лендинга */

/* CSS переменные */
:root {
  --color-white: #ffffff;
  --color-primary-dark: #42413C;
}

/* Цвета */
.white { color: #fff; }
.white-50 { color: #d7ccc0; }
.light { color: #f5f4f0; }
.light-text { color: #fe8a02; }
.dark-main { color: #42413c; }
.dark { color: #2a2626; }
.dark-50 { color: #908d8b; }
.brown { color: #b09a81; }
.blue { color: #1085c5; }

/* Шрифты */
.open-sans { font-family: 'Open Sans', sans-serif; }
.neucha { font-family: 'Neucha', cursive; }
.neucha-regular {
  font-family: "Neucha", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Размер шрифта: 16px */
.font-size-16 { font-size: 16px; }

/* Межстрочный интервал: 1.6em */
.line-height-16 { line-height: 1.6em; }

/* Цвет шрифта: #2A2626 */
.dark-text { color: #2A2626; }

/* Заголовки */
.line-height-12 { line-height: 1.2em; }
.font-size-72 { font-size: 72px; }
.font-size-60 { font-size: 60px; }
.font-size-34 { font-size: 34px; }

/* Секции */
.container {
  width: 1110px;
  margin: 0 auto;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Выравнивание по центру */
.center { text-align: center; }

/* Отступы по 100 пикселей сверху и снизу */
.padding-100 { padding: 100px 0; }

/* Фоновое изображение */
.section-background {
  position: relative;
}

.section-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: -2;
}

body {
  margin: 0;
  background-color: #ffffff;
}

h1 {
  font-family: "Neucha", cursive;
  font-weight: 400;
  font-style: normal;
}

.header {
  height: 914px;
  position: relative;
  background-color: #F5F4F0;
  z-index: -5;
}

.header-title {
  font-size: 72px;
  line-height: 1.2em;
  padding-top: 100px;
  margin-bottom: 185px;
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
  width: auto;
  z-index: -1;
}

/* Стили для header-content */
.header-content {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;
  gap: 30px;
}

.header-column {
  flex: 1;
}

.header-column p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: 0;
  vertical-align: bottom;
  color: #2A2626;
}

/* Стили для кнопки */
.button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #fe8a02;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 20px;
}

/* Стили для main-title */
.main-title {
  font-size: 60px;
  line-height: 1.2em;
  margin-bottom: 30px;
}

/* Стили для секции preview */
.preview-section {
  padding: 0;
  position: relative;
  z-index: 10;
  text-align: center;
}

/* Стили для секции с белым фоном */
.bg-white {
  position: relative;
}

.bg-white::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  z-index: -1;
  background-size: cover;
}

/* Стили для секции с серым фоном */
.bg-grey {
  position: relative;
}

.bg-grey::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-dark);
  z-index: -1;
  background-size: cover;
}

/* Стили для центрирования */
.center {
  text-align: center;
}

/* Стили для отступов */
.margin-0 {
  margin: 0;
}

.margin-30 {
  margin: 30px 0;
}

/* Стили для темного цвета */
.dark-color {
  color: #FE8A02;
  ;
}

/* Стили для видео контейнера */
.video-container {
  position: relative;
  text-align: center;
  z-index: 2;
}

.video-container img {
  display: block;
  width: 919px;
  height: 517px;
  margin-left: auto;
  margin-right: auto;
}

/* Стили для тени */
.shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* Стили для отступов */
.padding-top-200 {
  padding-top: 200px;
}

.margin-top-neg-200 {
  margin-top: -200px;
}

/* Стили для заголовка "Что же это такое," */
h2.center.margin-0 {
  font-family: "Neucha", cursive;
  line-height: 1.2em;
  font-size: 60px;
  font-weight: 400;
  color: #2A2626;
}

/* Стили для параграфа "Что такое когнитивные искажения. Petrovna Channel" */
p.center.margin-30 {
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
  font-weight: 400;
  color: var(--color-dark);
  font-size: 16px;
  line-height: 1.6em;
}

.preview-title {
  font-size: 60px;
  line-height: 1.2em;
  font-family: "Neucha", cursive;
  margin-bottom: 30px;
}

.main-color {
  color: #fe8a02;
}

.preview-subtitle {
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  color: #2A2626;
  margin-bottom: 30px;
}

.video-link {
  display: inline-block;
  position: relative;
  z-index: 9999;
}

.video-preview {
  width: 919px;
  height: 517px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  position: relative;
  z-index: 9999;
  margin-bottom: -100px; /* Вылет на следующую секцию */
}

/* Стили для секции навигации */
.navigation-section {
  background: #42413C;
  padding: 200px 0 100px 0; /* Дополнительный отступ сверху для компенсации вылета видео */
  position: relative;
  z-index: 1;
}

.navigation-title {
  font-size: 52px;
  line-height: 1.2em;
  font-family: "Neucha", cursive;
}

.navigation-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 30px;
}

.card {
  width: 350px;
  height: 323px;
  background: #F5F4F0;
  padding: 24px;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

/* Стили для последних 3 карточек (3, 4, 5) */
.card:nth-child(n+4) {
  height: 350px;
}

.card:hover:not(.title-card) {
  background: #FE8A02;
  color: #fff;
}

.title-card {
  background: #42413C;
  color: #fff;
  padding: 0;
}

.card-number {
  font-size: 64px;
  font-family: "Neucha", cursive;
  line-height: 1;
  margin-bottom: 40px;
  color: #42413C;
}

.card:hover:not(.title-card) .card-number {
  color: #fff;
}

.card-title {
  font-size: 34px;
  line-height: 1.2em;
  font-family: "Neucha", cursive;
  color: #FE8A02;
  margin-bottom: 16px;
}

.card:hover:not(.title-card) .card-title {
  color: #fff;
}

.card-description {
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  color: #2A2626;
  flex-grow: 1;
}

.card:hover:not(.title-card) .card-description {
  color: #fff;
}

/* Стили для секций когнитивных искажений */
.cognitive-bias-section {
  padding: 100px 0;
  background: #F5F4F0;
  position: relative;
}

/* Специальные стили для секции "Эффект ИКЕА" */
#ikea-effect {
  background-color: #F5F4F0;
  z-index: -1;
}

#ikea-effect.cognitive-bias-section, #distortion-of-novelty.cognitive-bias-section {
  padding-top: 0px;
  padding-bottom: 0px;
}

#ikea-effect.cognitive-bias-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: 0;
}

#premature-optimization {
  background: #B09A81;
  padding-top: 0;
  padding-bottom: 0;
}

#premature-optimization .bias-header, #hyperbolic-depreciation .bias-header {
  flex-direction: row-reverse;
}

#premature-optimization .manifestation-title, #hyperbolic-depreciation .manifestation-title {
  background: #FFFFFF;
  color: #B09A81;
}

#premature-optimization .bias-category, #hyperbolic-depreciation .bias-category {
  color: #D7CCC0;
}

#premature-optimization .bias-title, #premature-optimization .bias-description, #hyperbolic-depreciation .bias-title, #hyperbolic-depreciation .bias-description {
  color: #FFFFFF;
}

#premature-optimization .manifestation-content p, #hyperbolic-depreciation .manifestation-content p {
  color: #FFFFFF;
}

#hyperbolic-depreciation {
  background: #B09A81;
}

#hyperbolic-depreciation.cognitive-bias-section, #errors-in-planning.cognitive-bias-section {
  padding-top: 0px;
  padding-bottom: 0px;
}

.cognitive-bias-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: 0;
}

.bias-header {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  margin-bottom: 100px;
}

.bias-header-left {
  flex: 0 0 auto;
  width: 578px;
  height: 434px;
}

.bias-header-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bias-image {
  vertical-align: middle;
  width: 578px;
  height: 434px;
  object-fit: none;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.bias-category {
  font-size: 24px;
  line-height: 1.2em;
  font-family: "Neucha", cursive;
  color: #908D8B;
  margin-bottom: 10px;
}

.bias-title {
  font-size: 60px;
  line-height: 1.2em;
  font-family: "Neucha", cursive;
  color: #2A2626;
  margin-bottom: 30px;
}

.bias-description {
  font-size: 34px;
  line-height: 1.2em;
  font-family: "Neucha", cursive;
  color: #2A2626;
}

.manifestation-title {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.2em;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background: #B09A81;
  padding: 5px 10px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.manifestation-content {
  display: flex;
  gap: 30px;
}

.manifestation-left,
.manifestation-right {
  flex: 1;
}

.manifestation-content p {
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  color: #2A2626;
}

/* Стили для стандартных элементов в секциях когнитивных искажений */
.cognitive-bias-section h2 {
  font-size: 60px;
  line-height: 1.2em;
  font-family: "Neucha", cursive;
  color: #2A2626;
  margin-bottom: 30px;
}

.cognitive-bias-section ul {
  padding-left: 20px;
  margin: 16px 0;
}

.cognitive-bias-section li {
  font-size: 16px;
  line-height: 1.6em;
  font-family: 'Open Sans', sans-serif;
  color: inherit;
  margin-bottom: 8px;
}

/* Стили для подвала */
.footer {
  background: #FFFFFF;
  padding: 0 0 100px 0;
  height: 581px;
}

.footer-subscription {
  margin-bottom: 76px;
  height: 190px;
  background: #42413C;
  padding-top: 40px;
  margin-bottom: 0;
}

.subscription-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.subscription-text {
  padding-left: 55px;
  padding-right: 145px;
}

.subscription-text h2 {
  padding-top: 15px;
}

.subscription-text h2, .subscription-text p {
  font-size: 34px;
  line-height: 1.2em;
  font-family: "Neucha", cursive;
  color: #fff;
  margin-bottom: 10px;
}

.subscription-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  position: relative;
  display: flex;
  gap: 10px;
}

/* Стили для span "Электронная почта" */
.subscription-form span {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #FFFFFF;
}

.email-input {
  height: 50px;
  width: 490px;
  padding: 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  min-width: 300px;
}

.send-button {
  height: 50px;
  width: 70px;
  background: #FE8A02;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.send-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 50px;
  background-image: url(../img/send.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.agreement-text {
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.terms-link {
  color: #fff;
  text-decoration: underline;
}

.footer-info {
  padding-top: 60px;
  text-align: center;
}

.copyright,
.source-link,
.hexlet-link {
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  color: #2A2626;
  margin-bottom: 10px;
}

.copyright {
  padding-top: 19px;
}

.source-link a,
.hexlet-link a {
  color: #1085C5;
  text-decoration: underline;
}
